{% load static %}

{% block exam %}
  <h1>Экзамены</h1>

  {% if exam_list %}
    <div>
      {% for exam in exam_list %}
        <div>
          <h2>{{ exam.theme }}</h2>
          <p>Количество билетов: {{ exam.num_cards }}</p>
          <p>
            <a href="{% url 'exam-update' exam.id %}">изменить тему</a>
            <a href="{% url 'exam-detail' exam.id %}">список билетов</a>
            <a href="{% url 'exam-delete' exam.id %}">удалить экзамен</a>
          </p>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div>Список тем пуст</div>
  {% endif %}

  <a href="{% url 'exam-create' %}">Добавить экзамен</a>
{% endblock %}
